.pricing-header{
    font-weight: bold;
    font-size: 35px;
}
.first-card{
    border-radius:3px 0px 0px 3px!important;
    height: 240px;
}
.third-card{
    height: 240px;
}
.second-card{
    height: 290px;
}
.pricing-card-title-nm{
    font-size: 15px;
}
.second-card {
    border: solid 1px #64eeeb;
}
.bg-page-00{
    background: url("../../image/bg-page-00.jpg");
    width: 100%;
    height: 1080px;
}
.dark-bg-page-001{
    background-color: rgba(0,0,0,0.7);
    min-height: 1080px;
}
.bg-page-001{
    background: url("../../image/bg-page-001.jpg") no-repeat;
    background-size: cover;
    min-height: 1080px;
}
.dark-bg-page-05{
    background-color: rgba(0,0,0,0.7);
    min-height: 1080px;
}
.bg-page-05{
    background: url("../../image/bg-page-05.png") no-repeat;
    background-size: cover;
    min-height: 1080px;
}
.header{
    background-color: rgba(0,0,0,0.3);
}

.header .logo img{
    display: inline-block !important;
    height: auto !important;
    max-width: 100% !important;
}

.main-menu{
    text-align: -webkit-center;
}
.main-menu-light .menu-item-light a{
    font-weight: bold;
    color: #101417c7!important;
    font-size: 1vw!important;
    text-decoration: none;
    margin-left: 10px;
}
.main-menu-light .menu-item-light:hover:before{
    content: "<" !important;
    color: #05a59c !important;
    position: absolute;
    padding-right: 10px!important;
    font-size: 1vw!important;
}
.main-menu-light .menu-item-light:hover:after{
    content: ">" !important;
    color: #05a59c !important;
    text-decoration: none;
    position: absolute;
    font-size: 1vw!important;
}
.main-menu .menu-item a{
    color: white!important;
    font-size: 1vw!important;
    text-decoration: none;
    margin-left: 10px;
}

.main-menu .menu-item:hover:before{
    content: "<" !important;
    color: #05a59c !important;
    position: absolute;
    padding-right: 10px!important;
    font-size: 1vw!important;
}



.main-menu .menu-item:hover:after{
    content: ">" !important;
    color: #05a59c !important;
    text-decoration: none;
    position: absolute;
    font-size: 1vw!important;
}

.maine-line{
    border-bottom: solid 2px #05a59c;
    border-left: solid 2px #05a59c;
    border-right: solid 2px #05a59c;
    position: absolute;
    width: 73%;
    height: 100%;
    margin-top: 28px;
    z-index: 0;
}

.left-border-top{
    position: absolute;
    width: 2%;
    border-top: solid 2px #05a59c;
}

.right-border-top{
    position: absolute;
    width: 2%;
    border-top: solid 2px #05a59c;
    margin-left: 98%;
}

.active-cast:after{
    content: ">" !important;
    padding-left: 7px !important;
    color: #05a59c !important;
}

.active-cast:before{
    content: "<" !important;
    padding-left: 7px !important;
    color: #05a59c !important;
}

.header .user i{
    color: #05a59c;
    font-size: 1.5vw!important;
}
.opis{
    margin-top: 30px !important;
}

.portfolio-block-card{
    border: solid 1px #08e8de;
    border-radius: 5px;
}
.bg-sec-col{
    background: linear-gradient(to right, transparent 65%, #64eeeb 65%);
}
.i-p{
    font-family: 'Inter', sans-serif;
    line-height: 0.8em;
    opacity: 0.2;
    font-weight: bold;
    font-size: 100px;
}
.pricing-card-title{
    color: orange;
}
.btn-custom:hover{
    font-weight: bold;
    color: white!important;
    background-color: #ff6002!important;
    border: solid 3px darkorange;
}
.btn-custom{
    border-radius: 0px;
    border: solid 3px #ff6002!important;
    background-color: transparent;
    font-weight: bold;
    color: #ff6002!important;
}
.card-text{
    line-height: inherit;
}
.href{
    color: orange;
}
.card-img-top{
    background-color:#08e8de;
}
.appl{
    background-color:#08e8de;
}
.p1{
    font-size: 30px;
    color: white;
}
.p2{
    font-size: 20px;
}
.name-blog{
    line-height: 1.1em;
    font-size: 19px;
    font-weight: bold;
}
.content-blog{
    line-height: 1.3em;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0,0,0,0.3)
}
.but-blog{
    font-weight: bold;
    color: darkorange;
}
.but-blog:hover{
    color: orange;
    text-decoration: none;
}
.page-name{
    font-weight: bold;
}
.preview-blog{
    font-size: 18px;
    line-height: 1.3em;
}
.data-input:active{
    font-size: 18px;
    min-width: 70%;
    border: solid 0px transparent;
    color: #eceaea;
    background-color: rgba(0,0,0,0.7);
}
.data-input{
    font-size: 18px;
    min-width: 70%;
    border: solid 0px transparent;
    color: #eceaea;
    background-color: rgba(0,0,0,0.3);
}
.data-textarea{
    font-size: 18px;
    min-width: 90%;
    min-height: 88%;
    border: solid 0px transparent;
    color: #eceaea;
    background-color: rgba(0,0,0,0.3);
}
.text-application-sent{
    line-height: 1em;
    font-size: 50px;
    color: #0a8b82;
}
